Repository skyqnaqna/iOS_Interview_Study, pull requests merged in 2022-11, with the labels that each got.

#1 [221102] Optional / Process와 Thread 차이
  README.md
  Swift/Optional.md
  운영체제/ProcessThread.md
Labels: 운영체제, Swift

#2 [221102] SOLID / 동시성,병렬,동기,비동기
  DesignPattern/SOLID/DIP.md
  DesignPattern/SOLID/ISP.md
  DesignPattern/SOLID/LSP.md
  DesignPattern/SOLID/OCP.md
  DesignPattern/SOLID/SOLID.md
  DesignPattern/SOLID/SRP.md
  README.md
  운영체제/Concurrency_Parallelism_(A)Sync.md
Labels: 운영체제, 디자인패턴

#3 [221110] HTTP / MVC,MVVM 차이
  DesignPattern/MVC_MVVM.md
  네트워크/HTTP.md
Labels: 운영체제, 네트워크

#4 [221110] POP / Tree
  DesignPattern/SOLID/SOLID.md
  README.md
  Swift/POP.md
  자료구조/Tree.md
Labels: Swift, 자료구조

#5 [221117] 고차함수 / Delegation 패턴
  DesignPattern/Delegation.md
  README.md
  Swift/HigherOrderFunction.md
Labels: Swift, 디자인패턴

#6 [221117] URLSession / GCD
  Network/HTTP.md
  README.md
  iOS/GCD.md
  iOS/URLSession.md
Labels: iOS
